html, body {
	color: #000;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	font-size: 18px;
	line-height: 160%;
	margin: 0;
	padding: 0;
	background: rgb(24, 24, 24);;
}
/* BASICS */

a {
	color: blue;
	text-decoration: underline;
}

.gray {
	font-style: normal;
    color: #aaa;
}

.red {
	color: #c00;
}

p {
	margin: 1em 0;
}

h2 {
	font-size: 120%;
	color: #2C3E50;
	margin-bottom: 3em;
}

/* .trial h2 {
	text-align: center;
} */

h3 {
	font-size: 110%;
	font-weight: bold;
	color: #2C3E50;
	margin: 1em 0;
	text-decoration: underline;
}


ol, ul {
	margin-left: 1.2em;
	margin-bottom: 1em;
}

li {
	margin: 0.5em 0;
}

ol.tight li {
	margin: 0;
}

/* FORMS */

#msform {
	margin: 100px auto;
	text-align: left;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 30px 40px;
	box-sizing: border-box;
	width: 80%;
	min-width: 600px;
	max-width: 1000px;
	margin: 0 auto;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

#msform fieldset.text,
#msform fieldset.validate {
	padding-right: 4em;
}

/* Responsive */

@media only screen and (max-device-width: 900px), only screen and (max-width: 1000px) {
	#msform {
		margin: 50px auto;
	}
	#msform fieldset {
		width: 100%;
		padding: 20px;
		margin: 0;
	}
	#msform fieldset.text,
	#msform fieldset.validate {
		padding-right: 40px;
	}
}

label.error {
	display: block;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	padding: .5em;
}

/* hide all fieldsets except the first */

#msform fieldset:not(:first-of-type) {
	display: none;
}

/* inputs */

#msform input, #msform textarea, #msform select {
	display: block;
	float: none;
	padding: 10px 2px;
	margin: .5em 0 1.5em;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	color: #2C3E50;
	font-size: 100%;
}

/* buttons */

.buttons {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#msform input.button {
	display: block;
	float: left;
	width: 50%;
	min-width: 180px;
	height: 50px;
	color: #fff;
	background: rgb(24, 24, 24);
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	border: 0 none;
	cursor: pointer;
	padding: 10px 5px;
	margin: 2em 20px 2em 0;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#msform .button:hover, #msform .button:focus {
	background: rgb(53, 53, 53);
}

#msform .button.single {
	float: none;
}

#msform .button.right {
	margin: 10px 0;
}

/* trial area and buttons */

#msform div.trialarea {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#msform .sample {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	margin: 40px auto 70px;
}

#msform img {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
    border: 1px solid #ccc;
	z-index: 2;
}

.sample img.initial {
	position: relative;
	z-index: 1;
}

#msform div.trialarea input.button {
	width: 20%;
	margin: 10px 2% 10px 0;
}

#msform div.trialarea input.button.right {
	margin: 10px 0;
}

/* Show samples one after the other */

@keyframes cssAnimation {
	to {
		visibility: visible;
	}
}

/* Responsive */

@media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
	#msform div.trialarea input.button {
		font-size: 80%;
	}
}


/* progress bar */

h4 {
	display: block;
	width: 100%;
	float: none;
	color: #ccc;
	font-weight: normal;
	font-size: 80%;
	margin: 3em 0 0.5em;
	text-align: center;
}

.bar {
	display: block;
	overflow: hidden;
	background-color: #eee;
	width: 100%;
	height: 10px;
}

.progressbar {
	display: block;
	background-color: #ddd;
	width: 0;
	height: 10px;
}

