html, body {
	color: #000;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	font-size: 18px;
	line-height: 160%;
	margin: 0;
	padding: 0;
	background: rgb(24, 24, 24);;
}
/* BASICS */

a {
	color: blue;
	text-decoration: underline;
}

.gray {
	font-style: normal;
    color: #aaa;
}

.red {
	color: #c00;
}

p {
	margin: 1em 0;
}

h2 {
	font-size: 120%;
	color: #2C3E50;
	margin-bottom: 3em;
}

/* .trial h2 {
	text-align: center;
} */

h3 {
	font-size: 110%;
	font-weight: bold;
	color: #2C3E50;
	margin: 1em 0;
	text-decoration: underline;
}


ol, ul {
	margin-left: 1.2em;
	margin-bottom: 1em;
}

li {
	margin: 0.5em 0;
}

ol.tight li {
	margin: 0;
}

/* FORMS */

#msform {
	margin: 100px auto;
	text-align: left;
	position: relative;
}

fieldset {
	background: white;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 30px 40px;
	box-sizing: border-box;
	width: 80%;
	min-width: 600px;
	max-width: 1000px;
	margin: 0 auto;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

fieldset.text,
fieldset.validate {
	padding-right: 4em;
}

/* Responsive */

@media only screen and (max-device-width: 900px), only screen and (max-width: 1000px) {
	#msform {
		margin: 50px auto;
	}
	fieldset {
		width: 100%;
		padding: 20px;
		margin: 0;
	}
	fieldset.text,
	fieldset.validate {
		padding-right: 40px;
	}
}

label.error {
	display: block;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	padding: .5em;
}

/* hide all fieldsets except the first */

fieldset:not(:first-of-type) {
	display: none;
}

/* inputs */

input, textarea, select {
	display: block;
	float: none;
	padding: 10px 2px;
	margin: .5em 0 1.5em;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	color: #2C3E50;
	font-size: 100%;
}

/* buttons */

input.button {
	display: block;
	width: 50%;
	min-width: 180px;
	height: 50px;
	color: #fff;
	background: rgb(24, 24, 24);
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	border: none;
	cursor: pointer;
	padding: 10px 5px;
	margin: 2em 0;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* used in trial area */
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.buttons span {
	display: block;
	float: left;
	width: 20%;
	min-width: 180px;
	height: 50px;
	background: #ddd;
	border: none;
	border-radius: 2px;
	padding: 0;
	margin: 2em 0.6em;
}

.buttons input.button {
	display: block;
	width: 100%;
	color: #fff;
	background: rgb(24, 24, 24);
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	border: none;
	cursor: pointer;
	padding: 10px 5px;
	margin: 0;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.button:hover, .button:focus, .buttons input.button:hover {
	background: rgb(53, 53, 53);
}

.button:active, .buttons input.button:active {
	background: #c00;
}

.button.single {
	float: none;
}

/* trial area and buttons */

div.trialarea {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.sample {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	margin: 40px auto 70px;
}

.sample img, .countdown {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
  border: 1px solid #ccc;
	z-index: 2;
}

.countdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
  line-height: 195px;
	color: #c00;
	background: #fff;
}

.sample img.initial {
	position: relative;
	z-index: 1;
}

/* Show samples one after the other */

@keyframes animateDissolve {
	to {
		visibility: visible;
	}
}

/* Responsive */

@media only screen and (max-device-width: 900px), only screen and (max-width: 1000px) {
	.sample, .sample img, .countdown {
		width: 90%;
	}
	.buttons span {
		min-width: 100px;
		height: 70px;
	}
	.buttons input.button {
		font-size: 80%;
	}

}


/* progress bar */

h4 {
	display: block;
	width: 100%;
	float: none;
	color: #ccc;
	font-weight: normal;
	font-size: 80%;
	margin: 3em 0 0.5em;
	text-align: center;
}

.bar {
	display: block;
	overflow: hidden;
	background-color: #eee;
	width: 100%;
	height: 10px;
}

.progressbar {
	display: block;
	background-color: #ddd;
	width: 0;
	height: 10px;
}

