html, body {
	color: #000;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	font-size: 18px;
	line-height: 160%;
	margin: 0;
	padding: 0;
	background: rgb(24, 24, 24);
}

/* BASICS */

a {
	color: blue;
	text-decoration: underline;
}

.gray {
	font-style: normal;
    color: #aaa;
}

.red {
	color: #c00;
}

p {
	margin: 1em 0;
}

h2 {
	font-size: 150%;
	color: #2C3E50;
	margin-bottom: 2em;
	line-height: 160%;
}

/* .trial h2 {
	text-align: center;
} */

h3 {
	font-size: 120%;
	font-weight: bold;
	color: #2C3E50;
	margin: 3em 0 1em;
}


ol, ul {
	margin-left: 1.2em;
	margin-bottom: 1em;
}

li {
	margin: 0.5em 0;
}

ol.tight li {
	margin: 0;
}

/* FORMS */

#msform {
	margin: 100px auto;
	text-align: left;
	position: relative;
}

fieldset {
	background: white;
	border-radius: 4px;
	padding: 30px 40px;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

fieldset.text,
fieldset.validate {
	padding-right: 4em;
}

label.error {
	display: block;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	padding: .5em;
}

/* hide all fieldsets except the first */

fieldset:not(:first-of-type) {
	display: none;
}

/* inputs */

input, textarea, select {
	display: block;
	float: none;
	padding: .5em .5em .6em;
	margin: .5em 0 1.5em;
	border: 2px solid #000;
	border-radius: 4px;
	width: 100%;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	color: #2C3E50;
	font-size: 100%;
}

/* buttons */

input.button {
	display: block;
	width: 50%;
	min-width: 180px;
	height: 100px;
	color: #fff;
	background: rgb(24, 24, 24);
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	border: none;
	cursor: pointer;
	padding: .5em .5em .6em;
	margin: 3em 0 2em;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input.button:hover {
	background: rgb(64, 64, 64);
}

input.button:active {
	background: #c00;
}

/* used in trial area */
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: space-between;
}

.buttons_outer {
	margin: 5em 0;
}

.buttons span {
	display: block;
	min-width: 180px;
	height: auto;
	margin: 0 .5em;
	background: #ddd;
	border-radius: 4px;
	padding: 0;
}

.buttons input.button {
	margin: 0;
	width: 100%
}

.button.single {
	float: none;
}

/* trial area and buttons */

div.trialarea {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.sample {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	margin: 10em auto;
}

.sample img, .countdown {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
  border: 2px solid #000;
	z-index: 2;
}

.countdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
  line-height: 195px;
	color: #c00;
	background: #fff;
}

.sample img.initial {
	position: relative;
	z-index: 1;
}

/* Show samples one after the other */

@keyframes animateDissolve {
	to {
		visibility: visible;
	}
}


/* progress bar */

h4 {
	display: block;
	width: 100%;
	float: none;
	color: #ccc;
	font-weight: normal;
	font-size: 80%;
	margin: 5em 0 0.5em;
	text-align: center;
}

.bar {
	display: block;
	overflow: hidden;
	background-color: #eee;
	width: 100%;
	height: 10px;
}

.progressbar {
	display: block;
	background-color: #ddd;
	width: 0;
	height: 10px;
}


/* Responsivity */

@media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
	html, body {
		color: #000;
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
		font-size: 28px;
		line-height: 160%;
		margin: 0;
		padding: 0;
		background: #fff;
	}

	#msform {
		margin: 0 auto;
	}
	fieldset {
		width: 100%;
		padding: 1.5em;
		margin: 0;
		border: none;
	}

	fieldset.text,
	fieldset.validate {
		padding-right: 40px;
	}

	.sample, .sample img, .countdown {
		width: 400px;
		height: 400px;
	}

	.countdown {
		line-height: 395px;
	}

	.buttons {
		padding: 0;
	}
	.buttons_inner1 {
		flex-direction: column;
		width: 100%;
	}
	.buttons_inner2 {
		flex-direction: column-reverse;
		width: 100%;
	}
	.buttons span {
		width: 90%;
		height: 200px;
		border: 3px solid #fff;
	}
	input.button {
		height: 200px;
		padding: 1.2em 0.5em 1.5em;
	}
	.buttons input.button {
		/* width: 100%; */
		margin: 0;
	}
}

